body {
  overflow-x:hidden;
  margin:0;
  font-family: eurostile-bold;
  cursor:auto;
}

img {
  opacity: 1;
   transition: opacity 0.3s;
}

img[data-src]{
  opacity:0;
}

::-webkit-scrollbar {
    display: none;
}
#titleCanvas{
  background-color: none;
  position:fixed;
  height:100vh;
  top:0;
  /* cursor:url(assets/sprayCursor.png) 0 25,auto;
  -ms-cursor:url(assets/sprayCursor.cur.html),auto; */
}


.cover-titles{
position: absolute;
display:flex;
flex-direction: column;
width:100%;
font-family: eurostile-bold-extended;
z-index:1;
pointer-events:none;
margin-left:70px;
}


#mainTitleD{
  margin-top:10px;
  position:absolute;
  font-size:8vw;
  line-height:19vw;
}
#mainTitleK{

  margin-left:12vw;
  position:absolute;
  font-size:8vw;
  line-height:17vw;
}

#sTitle{
  margin:0;
  position:absolute;
  transform:translateX(0.73vw);
}

#subTitle{
  margin:0;
  font-size:3.4vw;
  line-height:3.3vw;
  font-family: eurostile-bold;
  margin-top:23vw;
}

#infoTitle{
  margin:0;
  font-size:3.4vw;
  line-height:3.3vw;
  font-family: eurostile-bold;
  margin-top:2vw;
}

@media(max-width:900px) {
  .cover-titles{
    position:relative;
    top:0;
    left:0;
    margin:25px;
    display:flex;
    width:100%;
    height:100%;
  }

  #mainTitleD{
    margin-top:10px;
    position:absolute;
    font-size:8vw;
    line-height:19vw;
  }
  #mainTitleK{

    margin-left:12vw;
    position:absolute;
    font-size:8vw;
    line-height:20vw;
  }

  #sTitle{
    margin:0;
    position:absolute;
    transform:translateX(1.1vw);
  }

  #subTitle{
    margin:0;
    font-size:6vw;
    line-height:5vw;
    font-family: eurostile-bold;
    position:absolute;
    top:27vw;
  }

  #infoTitle{
    margin:0;
    font-size:6vw;
    line-height:5.8vw;
    font-family: SuisseIntl-Regular;
    position:absolute;
    top:46vw;
  }
}

.sidenav{
  position:fixed;
  align-self: flex-start;
  width:30px;
  height:90px;
  margin-left:45px;
  top:42%;
  right:45;
  z-index:9999;
}
.bar-sel{
  width:100%;
  padding:15px 15px;
}
.bar-sel:hover > .bar{
  background-color:rgba(120,120,120,1);
  height:3px;
  width:28px;
}
.bar{
  background-color:rgba(120,120,120,0.4);
  height:2px;
  width:25px;

  -o-transition:.3s ease;
  -ms-transition:.3s ease;
  -moz-transition:.3s ease;
  -webkit-transition:.3s ease;
  transition:.3s ease;
}
.bar:hover{
  background-color:rgba(120,120,120,1);
  height:3px;
}

.active{
  background-color:black;
  height:3px;
  width:35px;

  -o-transition:.3s ease;
  -ms-transition:.3s ease;
  -moz-transition:.3s ease;
  -webkit-transition:.3s ease;
  transition:.3s ease;
}

@media(max-width:900px) {
  .sidenav{
    display:none;
  }
}

.container-general{
width:100vw;

-o-transition:.4s ease-out;
-ms-transition:.4s ease-out;
-moz-transition:.4s ease-out;
-webkit-transition:.4s ease-out;
transition:.4s ease-out;
}

.container-1{
  display:flex;
  flex-direction: column;
  width:100vw;
  height:70vh;
  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
}

.container-2{
  transform:translateY(105vh);
  background-color:none;
  position:absolute;
  width:60%;
  left:32%;
  top:0;
  z-index:998;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
}

.embed-container{
  align-items: flex-start;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#videoEmbed{
  height:32vw;
}

.container-3{
  position:absolute;
  background-color:none;
  width:100%;
  height:100%;
  display:flex;
  margin:30 0;
  z-index:998;
  pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
}

.container-4{
  transform:translateY(100vh);
  background-color:none;
  position:absolute;
  width:100%;
  height:100%;
  z-index:998;
  pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
}
.container-4b{
  transform:translateY(100vh);
  background-color:none;
  position:absolute;
  width:100%;
  z-index:998;
  pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
}

.gallery-container{
  margin-left:70px;
  display:flex;
  flex-direction:column;
  width:85%;
  height:330vh;
  margin-top:60px;
}
.gallery-row{
  flex-direction:row;
}

.pic{
  height:38.6vh;
}

.container-5{
  transform:translateY(460vh);
  background-color:none;
  position:absolute;
  width:100%;
  height:100%;
  z-index:998;
  pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
}

@media(max-width:900px) {

  body{
  overflow-y:scroll;
  overflow-x:hidden;
  }

  .container-general{
  overflow-y:scroll;
  overflow-x:hidden;
  width:100%;
  justify-content: flex-start;
  align-items: flex-start;
  display:flex;
  flex-direction:column;

  -o-transition:.4s ease-out;
  -ms-transition:.4s ease-out;
  -moz-transition:.4s ease-out;
  -webkit-transition:.4s ease-out;
  transition:.4s ease-out;
  }

  .container-1{
    position:relative;
    width:100vw;
    height:40vh;
  }

  .container-2{
    position:relative;
    transform:translateY(0vh);
    background-color:none;
    width:100vw;
    height:80vw;
    top:0;
    left:0;
    z-index:998;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -o-transition:.4s ease-out;
    -ms-transition:.4s ease-out;
    -moz-transition:.4s ease-out;
    -webkit-transition:.4s ease-out;
    transition:.4s ease-out;
  }

  .embed-container{
    width:100;
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  #videoEmbed{
    margin-top:45px;
    width:100vw;
    height:57vw;
  }


  .container-3{
    display:flex;
    transform:translateY(0vh);
    background-color:none;
    position:relative;
    width:100vw;
    height:auto;
    z-index:998;

    -o-transition:.4s ease-out;
    -ms-transition:.4s ease-out;
    -moz-transition:.4s ease-out;
    -webkit-transition:.4s ease-out;
    transition:.4s ease-out;
  }

  .container-4{
    transform:translateY(0vh);
    background-color:none;
    position:relative;
    flex-direction: column;
    display:flex;
    width:100%;
    height:auto;
    z-index:998;
    margin-bottom:30px;
  }
  .container-4b{
    transform:translateY(0vh);
    background-color:none;
    position:relative;
    flex-direction: column;
    display:flex;
    width:100vw;
    height:100vh;
    z-index:998;
    pointer-events:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -o-transition:.4s ease-out;
    -ms-transition:.4s ease-out;
    -moz-transition:.4s ease-out;
    -webkit-transition:.4s ease-out;
    transition:.4s ease-out;
  }

  .gallery-container{
    margin-left:0;
    width:100vw;
    margin-top:30px;
  }

  .pic{
    height:40vh;
    width:100vw;
    height:auto;
    margin-bottom:3px;
  }

  .container-5{
    transform:translateY(-0vh);
    background-color:none;
    position:relative;
    flex-direction: column;
    display:flex;
    top:0;
    left:0;
    width:100vw;
    height:auto;
    margin-top:30px;
    z-index:998;

    -o-transition:.4s ease-out;
    -ms-transition:.4s ease-out;
    -moz-transition:.4s ease-out;
    -webkit-transition:.4s ease-out;
    transition:.4s ease-out;
  }
}

.vidToTop{
  transform:translateY(17vh);
  z-index:999;
}

.about-container{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about-baseline{
  display:flex;
  align-items:baseline;
}

#description{
  flex:2.5;
  margin:70px;
  margin-right:35px;
  font-size:2vw;
}
#info{
  align-items:flex-start;
  margin:70px;
  font-size:2.2vw;
  flex:1;
}
.section-title{
  display:flex;
  font-size:3.4vw;
  margin:0;
  margin-left:70px;
}

#schedule{
  display:none;
}
@media(max-width:900px){
  .section-title{
    display:flex;
    margin:0;
    margin-left:25px;
    font-size:9vw;
  }

  #schedule{
    display:flex;
  }

  .about-container{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    height:auto;
    pointer-events:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .about-baseline{
    display:flex;
    align-items:baseline;
    flex-direction: column;
  }

  #description{
    transform:translateY(0vh);
    position:relative;
    margin:25px;
    margin-top:15px;
    margin-bottom:50px;
    font-size:5vw;
  }

  #info{
    transform:translateY(0vh);
    position:relative;
    margin:25px;
    margin-top:10px;
    font-size:5vw;
    line-height:4.8vw;
  }
}
.split-container{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;

}
.words-list{
  margin:70px;
  margin-top:35px;
  margin-right:0;
  flex:1;
}


#wordsTable{
  font-size:2vw;
  pointer-events:all;
}

.tab-header{
  height:12vh;
}

td:nth-child(1){
  width:25vw;
}

td:nth-child(2){
  max-width:25vw;
}
.words-row{
  height:3vh;
}
.words-row:hover{
  color:rgb(255,30,40);
}

.work-preview{
  width:100%;
  height:auto;
  flex:1;
  margin-right:8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vert{
  width:25vw;
}
.horiz{
  width:40vw;
}

.credits{
  margin:70px;
  margin-top:25px;
  margin-bottom:25px;
  font-size:1.3vw;
  line-height:1.5vw;
  display:flex;
  flex-direction: column;

  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logos-container{
  display:flex;
  margin-left:0px;
  margin-bottom:80px;
  align-items:center;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo{
  width:12vw;
  margin-right:36px;
}

#base{
  width:6vw;
  margin-right:52px;
  order:2;
}
#aiap{
  width:10vw;
}

@media(max-width:900px){
  .split-container{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;

  }
  .words-list{
    margin:25px;
    margin-top:0px;
    margin-right:0;
  }

  #wordsTable{
    width:90vw;
    font-size:6vw;
    pointer-events:none;
  }

  .tab-header{
    height:12vh;
  }

  td{
  width:18vw;
  }

  td:nth-child(1){
    width:25vw;
  }

  td:nth-child(2){
    max-width:25vw;
  }
  .words-row{
    height:3vh;
  }

  .work-preview{
    display:none;
  }
}

@media(max-width:900px){
  .credits{
    transform:translateY(0vh);
    margin:25px;
    margin-top:10px;
    font-size:5vw;
    line-height:5.1vw;
    display:flex;
    position:relative;
    top:0;
    left:0;
    flex-direction: column;

    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .logos-container{
    display:flex;
    flex-direction: column;
    transform:translateY(0vh);
    align-items:flex-start;
    position:relative;
    margin-top:30px;
    width:100vw;
    margin-left:0px;
    flex-direction:column;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .logo{
    width:60vw;
    margin:20 0;
  }

  #base{
    width:28vw;
    order:3;
  }
  #aiap{
    width:60vw;
  }

  #titleCanvas{
    display:none;
  }
}

a {
  color:black;
  pointer-events:all;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.img-first{
 position:absolute;
 left:0%;
 top:0%;
 transform:scale(1);
 -webkit-touch-callout: none;
 -webkit-user-select: none;
  -khtml-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;

-o-transition:.25s ease;
-ms-transition:.25s ease;
-moz-transition:.25s ease;
-webkit-transition:.25s ease;
transition:.25s ease;
}


.move-first{
   transform:scale(0.4);
   left:-10%;
   top:-50%;
}


.img-second{
 position:absolute;
 left:60%;
 top:100%;
 transform:scale(0.2);
 -webkit-touch-callout: none;
 -webkit-user-select: none;
  -khtml-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;

-o-transition:.25s ease;
-ms-transition:.25s ease;
-moz-transition:.25s ease;
-webkit-transition:.25s ease;
transition:.25s ease;
}

.move-second{
  transform:scale(1);
  left:65%;
  top:0%;
}

.hideDisplay{
  display:none;
}
.hideOverflow{
  overflow-y:hidden;
}

@font-face {
  font-family: "eurostile";
  src: url(fonts/eurostile.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display:block;
}
@font-face {
  font-family: "eurostile-bold";
  src: url(fonts/eurostile-bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display:block;
}
@font-face {
  font-family: "eurostile-bold-extended";
  src: url(fonts/eurostile-bold-extended.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display:block;
}
